/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/Paulscode IBXM Library License.txt
/LICENSE-fml.txt
/CREDITS-fml.txt
/morefuelsmod-1.10_Server.launch
/morefuelsmod-1.10_Client.launch
/forge-1.10.2-12.18.1.2014-changelog.txt